<?xml version="1.0" encoding="UTF-8"?>

<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:aop="http://www.springframework.org/schema/aop"
        
        xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"
>

	<aop:aspectj-autoproxy proxy-target-class="false" />

    <context:annotation-config/>
    <context:component-scan base-package="com.idega,is.idega,is.hugveitan"/>

	<bean id="loginSession" class="com.idega.core.accesscontrol.business.LoginSessionBean" scope="session" />
	

	<bean id="scriptCallerInterface" class="com.idega.dwr.reverse.ScriptCallerWithoutDWRThread" scope="session" />
	
	<bean id="customIdegaFacesContextInitializer" class="com.idega.webface.initializer.FacesContextInitializerImpl" scope="singleton" />
	
	<bean id="iwCoreServletRequestProvider" class="com.idega.servlet.filter.impl.RequestResponseProviderImpl" scope="request" />
    
	<bean id="coreConstants" class="com.idega.util.CoreConstants" scope="singleton">
		<property name="articleConstantsInstance" ref="articleConstants" />
	</bean>
	
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="locations">
            <list>
                <value>classpath:jdbc.properties</value>
            </list>
        </property>
    </bean>
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="maxActive" value="${jdbc.maxActive}"/>
        <property name="maxWait" value="10000"/>
        <property name="poolPreparedStatements" value="true"/>
        <property name="defaultAutoCommit" value="true"/>
        
        <property name="maxIdle" value="${jdbc.maxIdle}"/>
        <property name="removeAbandoned" value="true"/>
        <property name="removeAbandonedTimeout" value="300"/>
        <property name="logAbandoned" value="true"/>
        <property name="testOnBorrow" value="true"/>
        <property name="validationQuery" value="SELECT 1"/>
    </bean>
    
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
    	<property name="dataSource" ref="dataSource"/>
        <property name="persistenceUnitPostProcessors">
            <bean class="com.idega.core.persistence.impl.OrmPathPatternMatchingResolver">
                <property name="resourceResolver">
                    <bean class="org.springframework.core.io.support.PathMatchingResourcePatternResolver" />
                </property>
            </bean>
        </property>
    </bean>

  <tx:annotation-driven />
  
  <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
    <property name="entityManagerFactory" ref="entityManagerFactory" />
  </bean>
  
  <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />
  <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>
  
  <bean id="genericDao" class="com.idega.core.persistence.impl.GenericDaoImpl" />
  
  <bean id="repositoryService" class="com.idega.jackrabbit.repository.JackrabbitRepository" scope="singleton" >
  	<property name="configFile" value="classpath:WEB-INF/repository.xml" />
  	<!-- <property name="repositoryHome" value="WEB-INF/jcr/store" /> -->
  </bean>
  <bean id="repositorySession" class="com.idega.jackrabbit.repository.JackrabbitRepositorySession" scope="session" />
</beans>